.git
.gitignore
.github
.railway
.specs
.turbo
.next
**/.next
node_modules
**/node_modules
**/dist
**/build
.env
.env.*
!.env.example
coverage
**/coverage
test-results
TestResults
*.log
cafedebug.pen
