@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
  --color-footer: var(--footer);
  --color-footer-foreground: var(--footer-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --radius-m: var(--radius-m);
  --radius-pill: var(--radius-pill);
  --shadow-card: var(--shadow-card);
}
